<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<HTML>
 <HEAD>
  <TITLE>Index of /~mariaps1/is651/12109/HW11/magpie/scripts/templates</TITLE>
 </HEAD>
 <BODY>
<H1>Index of /~mariaps1/is651/12109/HW11/magpie/scripts/templates</H1>
<PRE><IMG SRC="../../../../../../../icons/blank.gif" ALT="     "> <A HREF="index.html%3FN=A.html">Name</A>                    <A HREF="index.html%3FM=A.html">Last modified</A>       <A HREF="index.html%3FS=A.html">Size</A>  <A HREF="index.html%3FD=A.html">Description</A>
<HR>
<IMG SRC="../../../../../../../icons/back.gif" ALT="[DIR]"> <A HREF="../index.html">Parent Directory</A>        24-Apr-2013 00:56      -  
<IMG SRC="../../../../../../../icons/text.gif" ALT="[TXT]"> <A HREF="simple.smarty.html">simple.smarty</A>           20-Jan-2003 09:14     1k  
</PRE><HR>
</BODY></HTML>
